body{
    background-color:rgba(0,5,90,1);
    background-image: url("https://images2.alphacoders.com/116/thumb-1920-1160159.png");
    
    background-blend-mode:multiply;
    
    
} 
.rectangle{
    display: flex;
    width: 100%;
    height: 100%; 
    flex-flow: row wrap ;
    background: #F7F7F7;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 232px;
    justify-content: center;
    }
.poke-name{

    font: bold;
    font-size: 20px;
    color: blue;
    }



 .btn_fight{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }


    #circle{
       /* order:4;*/
        width: 100px !important;
        height: 20%;
        /*left: 635px;
        top: 450px;*/
    
        background: #C41414;
        border-radius: 50%;
        border: 3px solid #9B1919;
        box-shadow: 0px 8px 4px 2px rgba(0, 0, 0, 0.25);

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 101px;
        /* identical to box height */
        color: #FFFFFF;
        
        cursor: pointer;
    }#circle:hover{
        background: #850d0d;
        font-size:30px;
    }
    
    #p1{
        /* order:1; */
        
        width: 312px;
        height: 345px;
        /*left: 112px;
        top: 190px;*/

        background: #C4C4C4;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.25);
        border-radius: 37px;

        cursor:pointer
        }#p1:hover{
            opacity: 0.5;
        }

    #p2{
        /* order:3; */
        width: 312px;
        height: 345px;
       /* left: 1017px;
        top: 190px;*/
        
        background: #C4C4C4;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        cursor:pointer
        }#p2:hover{
            opacity: 0.5;
        }
    #icon{
        /* order:2; */
        width: 115px;
        height: 109px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 54.5px;
        }#icon:hover{
            transform: rotate(360deg);
            -webkit-transition-property: all;
            -webkit-transition-duration:1s ;
        }


  .modal{
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      
  }
  .close{
      color: white;
      float: right;
      font-size: 150px;
      font-weight: bolder;    
  }
  .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
 #poke-name{
    display: grid;
    grid-template-columns: repeat(3,1fr);

 }
 @media (max-width: 500px) {

      #poke-name{
    display: grid;
    grid-template-columns: repeat(2,1fr);

 }
 }
.modal-content {
   
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .name1{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 50px;
      font: bolder;

     }
.name-order{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    flex: 1 1 30%;
    flex-flow:row;
    justify-content: center;
    box-shadow: #000000;
    border: #000000 solid;
    border-radius: 10px;
    align-content: space-between;
    cursor: pointer;
    
}
.name-order:hover,.name-order:focus{
    color: #C41414;
}

.boton-poke{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header_sel
{
    color: white;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    -webkit-text-stroke:3px black;
      
}